{
    "parser": "babel-eslint",

    "env": {
        "browser": true,
        "node": true,
        "jasmine": true
    },

    "rules": {
        "quotes": [2, "single"],
        "strict": [0],
        "camelcase": [0],
        "no-underscore-dangle": [0],
        "comma-dangle": [0],
        "no-trailing-spaces": [0]
    }
}
