.controls {
    display: flex;
    flex-direction: column;
    background: $background-level-2;
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 100%;

    ul {
        margin: 0px 5px;

        li {
            margin: 5px;
        }
    }
}
