.package-control {
    margin: 20px 10px 0px 10px;

    .property {
        margin: 5px 0px;
        display: flex;
    }

    label {
        flex: 1;
        margin-right: 5px;
    }

    input[type="text"] {
        flex: 1;
    }
}
