.project-view {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;

    .middle {
        display: flex;
        flex: 1 0;
    }

    .project-toolbar {

    }

    .controls {
        flex: 0 0 150px;
    }

    .table {
        flex: 1 0;
    }

    .time-line {
        display: flex;
        padding: 5px 10px;

        input[type="range"] {
            flex: 1;
            margin-right: 5px;
        }

        input[type="text"] {
            flex: 0 0 44px;
            text-align: right;
            margin-right: 5px
        }

        button {
            flex: 0 0 44px;
            margin-right: 5px;
        }

        button:last-child {
            margin: 0;
        }
    }
}
